@font-face {
  font-family: "Proxima Nova";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local("Proxima Nova"),
    url("../fonts/ProximaNova-Regular.woff") format("woff");
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local("Proxima Nova"),
    url("../fonts/ProximaNova-Regular.woff") format("woff");
}
