$ProximaNova: "Proxima Nova", "Arial", sans-serif;

$main-color: #532000;
$orange: #FFA400;
$brown: #532000;

$font-size-default: 21px;
$font-size-title: 60px;
$font-size-small: 14px;
$font-size-large: 40px;
$font-size-medium: 25px;
$line-height: 130%;

$dextop-width: 1450px;
$tablet-width: 780px;
$mobi-width: 375px;
